* {
    font-family: 'Helvetica'; 
}
body{
    margin: 0%;
}
.first-bar{
    padding-top: 0.45em;
    background-color: rgb(245,245,245);
}
a{
  text-decoration: none;
  color: black;
}
.first-top-bar-image{
    float: left;
    filter: brightness(0);
    margin-left: 3em;
    height: 1.5em;
}
.second-top-bar-image{
    float: left;
    filter: invert(1);
    height: 1.5em;
    margin-left: 1.5em;
}
.nav-bar-text{
    text-align: right;
    margin: 0%;
    padding-bottom: 0.75em;
    padding-right: 3em;
}
.nav-bar-text > a{
    font-family: Helvetica, sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
header{
    height: auto;
    position: sticky;
    top: 0;
}
button > a{
    text-decoration: none;
}
.nike-logo{
    filter:brightness(0);
    height: 1.3em;
    width: 3.75em;
    padding-top: 1em;
}
.nav-bar-ul{
    display: flex;
    list-style: none;
    margin-bottom: 1em;
    padding-left: 0;
}
.nav-bar-ul > li{
    background-color: white;
    font-weight: 550;
    font-size: medium;
    margin-right: 1em;
}
.middle-nav-bar-container{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: 12%;
}
.main-body{
    width: 100%;
    position: relative;
}
.main-body-images{
    width: inherit;
}
.main-nav-bar-container{
    position: sticky;
    top: 0;
    display: flex;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.logo-container{
    width: 10%;
    overflow: hidden;
    margin-left: 3.2em;
}
.right-nav-bar-container{
    display: flex;
    align-items: center;
}
.search-bar{
    display: flex;
    height: 1.5em;
    align-items: center;
    border-radius: 24px;
    background-color: #f6f6f6;
    padding: 0.5em;
}
.search-icon{
    width: 1.5em;
    height: 1.5em;
    padding: 0.5em;
    border-radius: 50%;
}
.search-icon:hover{
    background-color: rgb(192, 192, 197);
}
.search-input{
    background-color: #f6f6f6;
    border: none;
    font-size: medium;
    width: 7em;
}
.fav-link{
    width: 1.5em;
    margin-right: 0.5em;
    margin-left: 1em;
    padding: 0.5em;
    border-radius: 70%;
}
.fav-icon{
    width: 1.5em;
    display: block;
}
.fav-link:hover{
    background-color: rgb(192, 192, 197);
}
.cart-link{
    width: 1.5em;
    margin-right: 3em;
    padding: 0.5em;
    border-radius: 70%;
}
.cart-icon{
    width: 1.5em;
    display: block;
}
.cart-link:hover{
    background-color: rgb(192, 192, 197);
}
.row-images{
    display: flex;
    flex-wrap: wrap;
}
.row-images img{
    width: 100%;
}
.row-image{
    width: 50%;
    position: relative;
}
.main-body-text{
    position: absolute;
    bottom: 18%;
    left: 30%;
    color: #f6f6f6;
    width: 40%;     
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-body-text h1{
    font-size: 450%;
    font-weight: 800;
    letter-spacing: -10%;
    justify-self: center;
    margin: 0;
}
.main-body-text p{
    width: 80%;
    text-align: center;
}
.main-body-text button{
    width: 10%;
    border-radius: 1em;
    font-size: 1em;
    padding: 0.4em;
}
.row-image-text {
    position: absolute;
    bottom: 10%;
    left: 9%;
    color: white;
}
.row-image-text button{
    border: none;
    border-radius: 1em;
    width: 4em;
    padding: 0.3em;
    font-size: 110%;
    font-weight: bold;
}
.row-image-text h1{
    font-size: 1em;
    margin-top: 0;
}
.row-image-text p{
    font-size: 1.5em;
    margin-top: 0;
}